/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* Notetaker CSS */

/* Setting the base document elements to adjust for changes in content */
html, 
body,
.main-content {
  min-height: 100vh;
}

.main-content {
  display: flex;
}

/* CSS related to the aside/sidenav */
.collection {
  border: none;
}

.collection div {
  margin-bottom: 10px;
}

.sidenav-collection {
  margin: 0 10px;
}

#sidenav-hamburger {
  font-size: 40px;
}

.add-note-button {
  text-align: end;
  padding-top: 1em;
  padding-bottom: 1em;
}

.sidenav .add-note-button {
  padding: 1em;
}

/* Format for the form elements */
#note-entry {
  text-align: center;
}

/* Formatting for the note text content */
.main-display p {
  padding: 1.5em;
}

